
body {
    margin: 0;
    /* esto es un error. en mi pantalla, que es chiquita, no veo todos los elementos... 
    y como me ocultaste el overflow, ni siquiera puedo hacer scroll para verlos
    ojo con eso! */
    overflow: hidden;
    /* utilizas en todos lados  'Segoe UI'. la tipografia se hereda, podes ponerla en el body
    para repetir menos */
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* NAV */
.contenedor {
    display: flex;
    flex-direction: column;
    width: 85%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    height: 120px;
}

h1 {
    font-family: 'Segoe UI';
    font-size: 30px;
    margin-bottom: 0;
    color: #424242;
}

ul {
    display: flex;
    padding: 0;
}

li {
    font-family: 'Segoe UI';
    list-style: none;
    color: #424242;
}

i {
    font-family: 'Segoe UI';
    color: #424242;
    margin-right: 3px;
}

button {
    border: none;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

button:hover {
    background-color: #bdbdbd;
}

/* MAIN */

main {
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: Impact;
    color: #424242;
    margin: 0;
    font-size: 40px;
    padding: 15px 15px;
}
/* no dejes codigo comentado en una entrega */
/* .contenedor-texto-arriba {
    height: 50px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-texto-abajo {
    height: 50px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.contenedor-img {
    height: 500px;
    width: 600px;
    background-color: black;
    background-size: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.contenedor-meme {
    background-color: #ffffff;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boton-descargar {
    background-color: #2e7d32;
    padding: 15px;
    border-radius: 2px;
    font-family: 'Segoe UI';
    color: white;
}

.boton-descargar:hover {
    background-color: #1b5e20;
}

.fa-download {
    color: white;
    padding-right: 5px;
}

/* ASIDE IMAGEN */

.titulo-aside {
    font-family: 'Segoe UI';
    color: #424242;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}
.ambos-aside {
    width: 15%;
}

.img-aside {
    /* height: 100vh; */
    /* width: 15%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

.url {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 210px;
    height: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
}

input[type="text"]:hover {
    background-color: #bdbdbd;
}

.fondo {
    display: flex;
    flex-direction: column;
}

.fondo-color {
    display: flex;
    justify-content: space-around;
}

.fondo-color-input {
    display: flex;
    width: 107px;
    background-color: #e0e0e0;
    border-radius: 4px;
    align-items: center;
}

h3 {
    font-family: 'Segoe UI';
    color: #424242;
    font-weight: 600;
    font-size: 14px;
}

label {
    font-family: 'Segoe UI';
    color: #424242;
    font-size: 12px;
}


input[type="color"] {
    border: none;
    background-color: #e0e0e0;
}

select {
    width: 107px;;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
}

select:hover {
    background-color: #bdbdbd;
}

.rango {
    display: flex;
    flex-direction: column;
}

input[type="range"] {
    width: 100%;
    background-color: #5a5d68;
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #424242;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
}

/* input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;

} */

.boton-restablecer {
    width: 145px;
    height: 35px;
    background-color: #e0e0e0;
    margin-top: 25px;
}

.boton-descargar:hover {
    background-color: #bdbdbd;
}


/* ASIDE TEXTO */
.form-texto {
    width: 230px;
}

.texto-aside {
    /* width: 15%; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

input[type="textarea"] {
    width: 212px;
    height: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-bottom: 12px;
}

.seleccion-fuente {
    width: 100%;
    height: 36px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}

.fuente {
    width: 100%;
}

.contenedor-fuente {
    display: flex;
}

.tamanio-fuente {
    width: 30%;
    height: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-right: 10px;
}

.fuente-color-texto, .fondo-color-texto {
    display: flex;
    flex-direction: column;
}

.contenedor-color {
    display: flex;
    justify-content: space-around;
}

.fondo-transparente-checkbox {
    margin-top: 12px;
}

.tamanio-espaciado {
    width: 212px;
    height: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-right: 10px;
}

.seleccion-interlineado {
    width: 100%;
}

/* TEMA OSCURO */
.modo-oscuro-main {
    background-color: #30343f;
}

.modo-oscuro-nav {
    background-color: #191e2b;
}

.modo-oscuro-titulo {
    color: #ffffff;
}

.modo-oscuro-botones {
    color: #ffffff;
    background-color: #191e2b;
}


/* RESPONSIVE */

/* @media (min-width: 1300px) {
    .img-aside {
      display: block;
    }
    .img-text {
      display: block;
    }
  } */
  
  /* @media screen and (max-width: 1600px) {
    
    h1 {
        color: red;
    }

    aside {
        display: none;
    }
  }
    */

    @media (max-width: 1600px) {
    
        .ambos-aside {
            display: none;
        }

        main {
            width: 100vw;
        }

        nav {
            width: 100vw;
        }
      }
